name: Label + File Trigger Test

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]
    paths:
      - 'file1-a'
      - 'file2-a'

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job 1 execution
        run: echo "Job 1 executed"

  job2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job 2 execution
        run: echo "Job 2 executed"

  job3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job 3 execution
        run: echo "Job 3 executed"

  job4:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job 4 execution
        run: echo "Job 4 executed"

  job5:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job 5 execution
        run: echo "Job 5 executed"
