name: Label + File Trigger Test

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]
    paths:
      - 'file1-a'
      - 'file2-a'

jobs:
  build_push_apache:
    name: Build Push Apache Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        run: echo "Checkout"
      - name: Add CODMON_APP_VERSION to BUILD_ARGS
        run: echo "Add CODMON_APP_VERSION to BUILD_ARGS"
      - name: Set up Docker Buildx
        run: echo "Set up Docker Buildx"
      - name: Build base Apache image (local only)
        run: echo "Build base Apache image (local only)"
      - name: Configure AWS Credentials
        run: echo "Configure AWS Credentials"
      - name: Login to Amazon ECR
        run: echo "Login to Amazon ECR"
      - name: Build and Push test-env Apache image to ECR
        run: echo "Build and Push test-env Apache image to ECR"
      - name: Verify push result
        run: echo "Verify push result"

  build_push_php:
    name: Build Push PHP Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        run: echo "Checkout"
      - name: Add CODMON_APP_VERSION to BUILD_ARGS
        run: echo "Add CODMON_APP_VERSION to BUILD_ARGS"
      - name: Set up Docker Buildx
        run: echo "Set up Docker Buildx"
      - name: Build base PHP image (local only)
        run: echo "Build base PHP image (local only)"
      - name: Configure AWS Credentials
        run: echo "Configure AWS Credentials"
      - name: Login to Amazon ECR
        run: echo "Login to Amazon ECR"
      - name: Build and Push test-env PHP image to ECR
        run: echo "Build and Push test-env PHP image to ECR"
      - name: Verify push result
        run: echo "Verify push result"

  ###################################
  # 必要なK8sリソースを作成しテストを実行 #
  ###################################
  integration_test:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        run: echo "Checkout"
      - name: Run Integration Test on K8s
        run: echo "Run Integration Test on K8s"
